<div id="subpage" class="wrapper">
  <div id="subpage-content">
    <div class="tab-container">
      <ul>
        <% @technologies.each do |f| %>
          <li><a href="#" id="<%= f.tab_title.gsub(/ /,'').downcase %>"><%= f.tab_title %></a></li>
        <% end %>
      </ul>
    </div>
    <div id="subpage_top"></div>
    <div id="subpage_middle">
      <div id="subpage-content-left">
        <% @technologies.each do |f| %>
          <div id="<%= f.tab_title.gsub(/ /,'').downcase %>" class="show-hide">
            <img src="<%= f.image.url %>" class="<%= cycle("right", "left") %>" />
            <h1><%= f.title %></h1>
            <%= raw f.description %>
            <% unless f == @technologies.last %>
              <div class="divider clearboth"></div>
            <% end %>
          </div>
        <% end %>
      </div>
      <div id="subpage-content-right">
        <div id="siderail">
          <div id="testimonials">
            <p>The SyntraNet Open Health Platform provides technologies and components to rapidly build and deploy highly scalable collaborative health networks that provide interoperability, connectivity and applications for communities of care providers, patients, service centers, payers and public health administrators. </p>
          </div>
        </div>
      </div>
    </div>
    <div class="clear" id="subpage_bottom"></div>
  </div>
</div>
