<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @solution.description %>
</p>

<p>
  <b>Sort order:</b>
  <%= @solution.sort_order %>
</p>


<%= link_to 'Edit', edit_solution_path(@solution) %> |
<%= link_to 'Back', solutions_path %>
